<!-- -  NavBar - -->

<nav class="flex-row bg-white">
  <div class="burger-menu flex-center">
    <div class="menu-btn flex-center">
      <div class="burger"></div>
    </div>
  </div>
  <div class="media d-flex align-items-center">
    <div class="media-body">
      <div class="sidebar__logo">
        <h4 class="m-0">CHAOSS</h4>
      </div>
    </div>
  </div>

  <ul class="nav flex-row">
    <li class="nav-item mx-2">
      <a href="{{site.baseurl}}/about" class="nav-link px-2"> About </a>
    </li>
    <li class="nav-item mx-2">
      <a href="{{site.baseurl}}/about" class="nav-link px-2"> Community </a>
    </li>
    <li class="nav-item mx-2">
      <a href="{{site.baseurl}}/about" class="nav-link px-2"> CHAOSScon </a>
    </li>
    <li class="nav-item mx-2">
      <a href="{{site.baseurl}}/about" class="nav-link px-2"> Participate </a>
    </li>
    <li class="nav-item mx-2">
      <a href="{{site.baseurl}}/about" class="nav-link px-2"> Software </a>
    </li>
    <li class="nav-item mx-2">
      <a href="{{site.baseurl}}/metrics" class="nav-link px-2"> Metrics </a>
    </li>
    <li class="nav-item mx-2">
      <a href="{{site.baseurl}}/about" class="nav-link px-2"> Initiatives</a>
    </li>
  </ul>
</nav>
<!-- -  NavBar Ends - -->
