<!-- sidebar -->
<div class="vertical-nav" id="sidebar">
  <ul class="nav flex-column mb-2 active">
    <li class="nav-items">
      <p class="text-gray font-weight-bold text-uppercase small px-3 pt-3">
        Common Metrics Focus Areas
      </p>
      <ul class="feat-show">
        <li class="nav-items">
          <a class="nav-link" href="#focus-area---what"
            >What - contributions are being made</a
          >
        </li>
        <li class="nav-items">
          <a class="nav-link" href="#focus-area---when"
            >When - are contributions occurring</a
          >
        </li>
        <li class="nav-items">
          <a class="nav-link" href="#focus-area---who"
            >Who - is making contributions</a
          >
        </li>
      </ul>
    </li>

    <li class="nav-items">
      <p class="text-gray font-weight-bold text-uppercase small px-3 pt-3">
        Diversity and Inclusion Areas
      </p>
      <ul class="feat-show">
        <li class="nav-items">
          <a class="nav-link" href="#focus-area---event-diversity"
            >Event Diversity</a
          >
        </li>
        <li class="nav-items">
          <a class="nav-link" href="#focus-area---governance">Governance</a>
        </li>
        <li class="nav-items">
          <a class="nav-link" href="#focus-area---leadership">Leadership</a>
        </li>
        <li class="nav-items">
          <a class="nav-link" href="#focus-area---project-and-community"
            >Project and Community</a
          >
        </li>
      </ul>
    </li>

    <li class="nav-items">
      <p class="text-gray font-weight-bold text-uppercase small px-3 pt-3">
        Evolution Areas
      </p>
      <ul class="feat-show">
        <li class="nav-items">
          <a class="nav-link" href="#focus-area---code-development-activity"
            >Code Development Activity</a
          >
        </li>
        <li class="nav-items">
          <a class="nav-link" href="#focus-area---code-development-efficiency"
            >Code Development Efficiency</a
          >
        </li>
        <li class="nav-items">
          <a
            class="nav-link"
            href="#focus-area---code-development-process-quality"
            >Code Development Process Quality</a
          >
        </li>
        <li class="nav-items">
          <a class="nav-link" href="#focus-area---issue-resolution"
            >Issue Resolution</a
          >
        </li>
        <li class="nav-items">
          <a class="nav-link" href="#focus-area---community-growth"
            >Community Growth</a
          >
        </li>
      </ul>
    </li>

    <li class="nav-items">
      <p class="text-gray font-weight-bold text-uppercase small px-3 pt-3">
        Risk Areas
      </p>
      <ul class="feat-show">
        <li class="nav-items">
          <a class="nav-link" href="#focus-area---business-risk"
            >Business Risk</a
          >
        </li>
        <li class="nav-items">
          <a class="nav-link" href="#focus-area---code-quality">Code Quality</a>
        </li>
        <li class="nav-items">
          <a class="nav-link" href="#focus-area---licensing">Licensing</a>
        </li>
        <li class="nav-items">
          <a class="nav-link" href="#focus-area---security">Security</a>
        </li>
      </ul>
    </li>

    <li class="nav-items">
      <p class="text-gray font-weight-bold text-uppercase small px-3 pt-3">
        Value Areas
      </p>
      <ul class="feat-show">
        <li class="nav-items">
          <a class="nav-link" href="#focus-area---communal-value"
            >Communal Value</a
          >
        </li>
        <li class="nav-items">
          <a class="nav-link" href="#focus-area---individual-value"
            >Individual Value</a
          >
        </li>
        <li class="nav-items">
          <a class="nav-link" href="#focus-area---organizational-value"
            >Organizational Value</a
          >
        </li>
      </ul>
    </li>
    <div class="py-5"></div>
  </ul>
</div>
<!-- end sidebar -->
